# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.temp/
.cache/

# Environment variables
.env
.env.*

# PostgreSQL
db-data/

# React specific
*.map
rapport.aux
rapport.log
rapport.out
rapport.synctex.gz
